$white: #fcfcfc;
$light-gray: #d6dbe2;
$blue: #477dca;
$green: #49d003;

input.frictionRange {
  display: inline-block;
  margin: 1em auto;
  vertical-align: middle;
  width: 200px;
}

.board {
  background-color: $white;
  border: 3px solid $light-gray;
  box-sizing: content-box;
  margin: 0 auto;
  position: relative;
}

.ball {
  background-color: $blue;
  border: 1px solid darken($blue, 3%);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;

  &:hover {
    background-color: lighten($blue, 10%);
  }

  &.selected {
    background-color: $green;
    border-color: darken($green, 3%);
    z-index: 1;

    &:hover {
      background-color: lighten($green, 10%);
    }
  }
}
